<nav class="hidden">

  <ul>

    {{#if isHome}}
      <li class="active"><a href="/">Главная</a></li>
    {{else}}
      <li><a href="/">Главная</a></li>
    {{/if}}

    {{#if isCourses}}
      <li class="active"><a href="/courses">Курсы</a></li>
    {{else}}
      <li><a href="/courses">Курсы</a></li>
    {{/if}}
  </ul>
</nav>
