@font-face {
  font-family: 'bernier-regular';
  src: url('/fonts/bernier/bernierregular-regular-webfont.woff2') format('woff2'),
  url('/fonts/bernier/bernierregular-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bernier-shade';
  src: url('/fonts/bernier/berniershade-regular-webfont.woff2') format('woff2'),
  url('/fonts/bernier/berniershade-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
