.footer {
  position: absolute;
  padding: 17px 0 8px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(000, 000, 000, 0.6);

  &__links {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 10px;

    @include breakpoint(sm) {
      display: block;
      text-align: center;
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    @include breakpoint(sm) {
      justify-content: center;
    }
  }

  &__social {

    &-item {
      margin-left: 10px;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
      &:first-child {
        margin-left: 0;

        img {
          width: 44px;
          height: 44px;
        }
      }
    }

    &-link {
      img {
        width: 38px;
        height: 38px;
      }
    }
  }

  &__links-list {
    display: flex;
    align-items: center;

    @include breakpoint(sm) {
      margin-bottom: 15px;
      justify-content: center;
    }
  }

  &__item {
    margin-left: 42px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    padding: 10px 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    @include breakpoint(sm) {
      display: block;
      text-align: center;
    }
  }
}
